/*      Universal Styles        */
* {
    box-sizing: border-box;
}

/*      HTNL Styles         */


/*      HTNL Elements       */
body {
    font-family: 'Poppins', sans-serif;
    width: 90%;
    margin: 0 auto;
    font-weight: 400;
}

h1 {
    text-align: center;
}

ul {
    margin-top: 0;
}

ul li {
    list-style-type: none;
    width: 100%;
    padding: 1.5rem 0;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

h3, p {
    text-align: center;
}

/*      Main Body Classes       */

.about-me img {
    width: 100%;
}

.upper-wrapper-col {
    display: flex;
    flex-direction: column;
}

.content-about, .content-about img {
    width: 100%;
}

.content-about p {
    text-align: center;
}

.wrapper-col {
    display: flex;
    flex-direction: column;
}

.wrapper-content, .wrapper-content img {
    width: 100%;
}

.wrapper-content {
    padding-bottom: 2rem;
}

footer {
    padding-top: 5rem;
}

/*      Site Classes        */
.menu-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-sec {
    width: 100%;
    margin-right: 2.5rem;
    text-align: center;
    padding-right: 2rem;
    padding-bottom: 3rem;
}

.menu-sec ul li a {
    color: black;
    text-decoration: none;
}


.heading h1 {
    font-weight: bolder;
}

/*      Footer Classes      */
.footer-p-content {
    border-bottom: 1px solid lightgray;
    padding-bottom: 3rem;
    text-align: center;
}

.footer-p-content p a {
    text-decoration: none;
    color: black;
}


.footer-p-content p a:hover, .bottom-footer a:hover, nav ul li a:hover {
    color: orangered;
}

.heading-format {
    text-align: center;
}

.bottom-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}

.bottom-footer p, .bottom-footer a {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.bottom-menu {
    display: none;
}

/*      ID Styles       */
#email-link {
    font-weight: bolder;
}


/*          Media Queries           */

/*      Tablet Screen Size of 768 pixels        */
@media screen and (min-width:768px) {
    .wrapper-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .wrapper-content {
        width: 50%;
        justify-content: space-between;
        padding-right: 2rem;
        padding-left: 2rem;
    }


    .bottom-menu {
        display: flex;
    }

    

    .hidden-link {
        display: none;
    }

    .menu-sec li {
        display: inline-block;
        width: auto;
        margin-right: 25px;
        background-color: transparent;
    }

    .menu-sec ul li {
        padding: 0;
    }

    .bottom-menu ul {
        display: flex;
        flex-direction: row;
        padding-top: 1.5rem;
    }

    .bottom-menu ul li {
        padding-right: 20px;
    }

    .about-me {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        margin: auto;
    }

    .about-me img {
        height: 300px;
        width: 400px;
        margin: 0 auto;
    }

    .about-me p {
        width: 80%;
    }
    
    /*      Desktop Screen Size of 1024 pixels      */


}

@media screen and (min-width:1024px) {
    .wrapper-content {
        width: 33%;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    .menu-sec, .menu-sec li {
       width: initial;
       margin-bottom: 0;
    }

    .menu-heading {
        padding-left: 30px;
    }

    .about-me img {
        height: 400px;
        width: 600px;
        margin: 0 auto;
    }

    .about-me p {
        width: 80%;
    }

}